.DS_Store
Library
Temp
UnityVS
AssetStoreTools
obj/*
/Assets/AssetStoreTools.meta
/Assets/UnityVS.meta
/Assets/Slua/LuaObject
/ProjectSettings
/*.csproj
.vs
build/slua-win8.1-universal/ARM
*.opensdf
*.sdf
build/slua-win8.1-universal/slua.Windows/ARM
build/slua-win8.1-universal/slua.WindowsPhone/ARM
build/slua-win8.1-universal/slua.WindowsPhone/Debug
